*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
section{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}
.jogo-da-velha{
    background-color: black;
    height: 550px;
    width: 550px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 5px;
    
}
.jogo-da-velha div{
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: white;
    cursor: pointer;
    padding: 20px;
}
.jogo-da-velha div:hover{
    opacity: 90%;
}
.jogo-da-velha div:active{
    background-color: rgb(255, 189, 165);
}
.jogo-da-velha img{
    width: 100%;
    height: 100%;
}